
/* Your CSS Code here. */
.divblock {
    margin-bottom: 20px;
}

div, p, h1 {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
}

button, span, input, cite, code, sup, sub {
    margin-right: 10px;
}